.jumbotron {
  padding-top: 6rem;
  background-image: url(/img/project/1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -140px;
  overflow: hidden;
  position: relative;
}

#project {
  background-color: aliceblue;
}

section {
  padding-top: 6rem;
}

.error-text {
  font-size: 14.5px;
  color: #d93025;
  text-align: left;
  margin: -4px 0 10px;
  display: none;
}
